@charset "utf-8";

*{
  font-family: Noto Sans TC;
  -webkit-user-select: none;
}


#speedup{
  background-color:rgb(106, 156, 189) ;
  color: rgb(243, 250, 255);
  border: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  position: absolute;
  top: 3%;
  right: 3%;
  letter-spacing: 1px; 
}

body {
  letter-spacing: 1px;
  font-family: serif;
	position: relative;
	background-color: rgb(250, 250, 250);
	z-index: -500;
	color: #0e2531;
	overflow: auto;
}


.name {
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto;
	font-size: 150%;
	color: rgb(65, 65, 65);
	letter-spacing: 4px;
	text-align: center;
	backface-visibility: hidden;
	position: absolute;
	margin-top: -18%;
	font-size: 300%;
	width: 71.25%;
  }
#back{
	transform: rotatey(-180deg);
}

#start{
	color: rgb(243, 250, 255);
	transform: rotatey(-180deg);
	font-size: 500%;
	letter-spacing: 15px;
	cursor: pointer;
}

.title{
  	color: rgb(65, 65, 65);
  	font-size: 40px;
  	top: 30%;
  	letter-spacing: 4px;
	margin: 0 auto;
	margin-top: 15%;
 	text-align: center;
 	backface-visibility: hidden;
}

.title span{
	font-size: 60%;	
}

#time{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  color: rgb(65, 65, 65);
  bottom: 3%;
  right: 2%;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.maincard {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 50px;
  width: 600px;
  height: 300px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 27%;
  font-family: Roboto, sans-serif;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  transition: 1s cubic-bezier(0.72,-0.38,0.4,1.48);
  transform-style: preserve-3d;
  
}
.maincard:hover {
  transform: rotatey(180deg);
  background-color: rgb(106, 156, 189);
}


#container div{
  background-color: #ffffff;
  border-radius: 15px;
  width: 90px;
  height: 90px;
  font-weight: 300;
  text-align: center;
  margin: 10px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  float: left;
}

#container {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	display: none;
}


.minorcard{
  padding: 60px;

  transition: 1s cubic-bezier(0.72,-0.38,0.4,1.48);
  transform-style: preserve-3d;
}

.minorcard:hover {
  transform: rotatey(180deg);
  background-color: rgb(106, 156, 189);
}

.cardtext{
	margin-top: -10px; 
	backface-visibility: hidden;
}

p{
	font-size: 16px;
	line-height: 30px;
	color:  rgb(65, 65, 65);
}

#fountainTextG{
	width:1410px;
	margin:0 auto;
	margin-left: 3%;
}

.fountainTextG{
	color: rgb(65, 65, 65);
	font-family:Arial;
	font-size: 100px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
#fountainTextG_8{
	animation-delay:1.79s;
		-o-animation-delay:1.79s;
		-ms-animation-delay:1.79s;
		-webkit-animation-delay:1.79s;
		-moz-animation-delay:1.79s;
}
#fountainTextG_9{
	animation-delay:1.94s;
		-o-animation-delay:1.94s;
		-ms-animation-delay:1.94s;
		-webkit-animation-delay:1.94s;
		-moz-animation-delay:1.94s;
}
#fountainTextG_10{
	animation-delay:2.09s;
		-o-animation-delay:2.09s;
		-ms-animation-delay:2.09s;
		-webkit-animation-delay:2.09s;
		-moz-animation-delay:2.09s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}





